@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="col-md-12">
    <div class="alert alert-danger">
        <h1 class="text-danger text-center">Locked out</h1>
        <h2 class="text-danger">This account has been locked out, please try again later.</h2>
    </div>
</div>

