<!-- banner -->
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                    <i>|</i>
                </li>
                <li>Contacts</li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- Contacts -->
<div class="container mb-5">
    <h3 class="tittle-w3layouts text-center mb-lg-3 mb-2 mt-3 ">Contact US </h3>
    <div class="row justify-content-md-center" style="background-color: #FFE7E5">
        <div class="col-xs-12 col-sm-12 col-lg-4 d-flex align-items-stretch ">
            <div class=" about-info">
                <h5 class="my-xl-4 my-lg-3 my-md-4 my-3" style="color: #555">
                    <strong> Office 303, 132 W 31st St, New York, NY 10001, USA </strong>
                    <br><br><br>
                    <strong> Phone: </strong>+19706792065
                    <br><br><br>
                    <strong> Email: </strong>vkorzhevyh@gmail.com
                    <br><br><br>
                    <strong>Schedule: </strong>
                    <br>
                    Mn-Fr: 8AM-10PM
                    <br>
                    St-Sn: 8AM-6PM
                    <br>
                </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-8 d-flex align-items-stretch ">
            <div class=" about-info">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6252422922216!2d-73.99290268509435!3d40.748271043333546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259af199db33b%3A0x8fd5171604646f4!2sNew%20York%20Office%20Spaces%20Commercial%20Real%20Estate%20-%20Sublease%20NYC!5e0!3m2!1sru!2sua!4v1583158590510!5m2!1sru!2sua" class="map" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<!-- //Contacts -->